
@{
    ViewBag.Title = "Penalty";
}
<div class="row">
    <h2 class="text-left pull-left">OOPS!</h2>
</div>
<div class="row">
    <hr />
    <h3 class="text-danger">Your Penalty amount is @ViewBag.Penalty $ ...</h3>
</div>
<script>
    //Settimeout metodu ile anasayfaya geri dönme işlemi
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "/Home/Index/";
        }, 8000);
    });</script>
